body{
    background-color: pink;
}
p{
    font-size: medium;
    align-content: flex-end;
    margin: 10px;
}
header{
    justify-content: space-between;
    text-align: center;
}
h2{
    font-weight: bold;
    align-content:flex;
    margin: 10px;
    color: black;
}
div{
    background-color:whitesmoke;
    height: 350px;
    width: 350px ;
    margin: 40px;
    border-radius: 0 40px 0 0;
    float: right;
}
